<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="{{url_for('static',filename='css/page2.css')}}">
    <title>....</title>
</head>
<body>
    <div ontouchstart="">
        <div class="button1">
          <a href="{{url_for('video')}}">Personal Vehicle</a>
        </div>
        <div class="button2">
            <a href="{{url_for('third')}}">Transport Vehicle</a>
          </div>
      </div>
</body>
</html>

